.App {
  text-align: center;
}

table tr td{
white-space: nowrap;
}

table thead tr th{
white-space: nowrap;
}


.table_is_scrollable{
overflow-x: scroll;
width:80vw !important;
}


.right-bar{
right:0;
background: white !important;
z-index:10;
}

